body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
  }
  
  h1 {
    text-align: center;
    background-image: url("https://cdn3.f-cdn.com/files/download/90046415/html-trick.jpg");
  }
  
  h2 {
    color: rebeccapurple;
    text-align: center;
  }
  
  table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
  }
  
  thead {
    background-color: plum;
  }
  
  td {
    border-top: 1px solid darkorchid;
  }
  
  .table row {
    font-family: monospace;
    background-color: beige;
  }
